

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --main-font-color: #F1B2CE;
  --accented-background-color: #FF0070;
  --accented-text-collor: #000028;
  --bg-color: #000028;
  --cover-image: url(../images/cover-image-dark.png);
  --decor-color: #FF0070;
  --decor-circle-color: #FF0070;
  --main-title-color:#DB00FF;
  --main-title-shadow-color:#FF0070;
  --button-border-color: #FF0070;
  --button-border-color-evented: hsl(334, 100%, 40%);
  --button-text-color: #FF0070;
  --main-title-shadow-color:#FF0070;
  --section-heading-color: #FF0070;
}

.theme_dark .header__decor-dark {
  display: block;
}