/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/





.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --text-color: #353430;
  --accent-color:#353430;
  --accent-wbg-color: #353430;
  --bg-color: #fff1f7;
  --accent-bgcolor: #FF8DCB;
  --main-accent-color: #FFC2E6;
  --main-accent-border: 4px 4px #ff0070;
  --buttontxt-color:#353430;
  --button-border: 1px solid #353430;
  --cover-image:url(../images/cover-image-light.png);
  --decor-border: #353430;
  --link-shadow: 2px 2px #FF0070;
  --link-decoration-color: #FF8DCB;
  --button-hover: rgba(255, 0, 112, 0.4);
}

.theme_light .header__decor-dark {
  display: none;
}

.theme_light .header__theme-menu-button_active {
  border: var(--button-border);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --accent-color:#353430;
    --accent-wbg-color: #353430;
    --bg-color: #fff1f7;
    --accent-bgcolor: #FF8DCB;
    --main-accent-color: #FFC2E6;
    --main-accent-border: 4px 4px #ff0070;
    --border: 4px 4px 0px 0px #353430;
    --button-border: 1px solid #353430;
    --buttontxt-color:#353430;
    --cover-image:url(../images/cover-image-light.png);
  }
.header__decor-dark {
  display: none;
}

.header__theme-menu-button_active {
  border: var(--button-border);
}
}