/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-inline-size: 375px;
  background-image: var(--cover-image);
  background-color: var(--bg-color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  display: flex;
  flex-direction: column;
  gap: var(--page-gap); /* change  it for biger screens later */
  
}

.page-padding {
  padding-inline-start: var(--page-padding);
  padding-inline-end: var(--page-padding);

}

.title-decor {
  background-color: var(--accented-background-color);
  color: var(--accented-text-collor);
}

.bold-text {
  font-weight: var(--bold-text);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  position: relative;
  padding-block-end: var(--header-footer-padding);
  padding-block-start: var(--header-footer-padding);
  
}


.decorated-zone::before {
  position: absolute;
  top: 10px;
  right: 10px;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
}

.decorated-zone::after {
  position: absolute;
  bottom: 10px;
  left: 10px;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
}

.header__decor-dark {
  position: absolute;
  font-size: 18px;
  line-height: 25px;
  right: 38px;
  top: 10px;
  color: var(--decor-color);
}

.header__decor-dark::after {
  position: absolute;
  top: 8px;
  right: -19px;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--decor-circle-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--decor-circle-color);
  background-color: var(--decor-circle-color);
  display: inline-block;
}


/* later on fix events conditions */
.header__theme-menu-button_active {
  outline: 1px solid var(--button-border-color);
  pointer-events: none
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-border-color-evented); /* outline? */
  margin-inline-end: -1px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-border-color-evented);
}

.article-text-link:hover {
  text-decoration: underline;
}

.article-text-link:focus {
  outline: none;
}

.article-text-link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: -1px;
}
/* events conditions ends here */

/*decoration ends here*/

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  min-inline-size: 70px;
  min-block-size: 26px;
  color: var(--button-text-color);
  line-height: var(--button-text-line-height);
  border: none;
  text-transform: lowercase;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
 
}



/* no focus styles starts here */
.header-title {
  grid-row: 2;
  justify-self: start;
  font-size: var(--main-title-font-size);
  line-height: var(--main-title-line-height);
  color: var(--main-title-color);
  text-shadow: 4px 4px var(--main-title-shadow-color);
  margin-inline-start: var(--main-title-margin);
}



.theme_light .header__decor-dark {
  display: none;
}


.main {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

.article-text-link {
  text-shadow: 1px 1px 0 var(--accented-background-color);
  text-decoration: none;
}

.text-section {
  display: grid;
}

.articles {
  display: grid;
  gap: 20px;
}

.section-heading {
  color: var(--section-heading-color);
  width: 100%;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  grid-column: 1;
}

.article-text {
  color: var(--main-font-color);
  width: 100%;
}

.article-heading {
  margin-block-end: 10px;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.mulitarticle-heading {
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.article-part-heading {
  font-weight: normal;
  margin-block-end: 10px;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}


/*gallery below */

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gallery-gap);
}

.gallery-heading {
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.gallery__item {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  object-position: center;
  display: block;
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 375px;
  position: relative;
  padding-block-end: var(--header-footer-padding);
  padding-block-start: var(--header-footer-padding);
  

}

.footer-title {
  align-self: center;
  justify-self: center;
  font-size: var(--main-title-font-size);
  line-height: var(--main-title-line-height);
  color: var(--main-title-color);
  text-shadow: 2px 2px var(--main-title-shadow-color);
}


@media (width >= 768px) {

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
   bottom: 20px;
   left: 20px;
  }

  .header__decor-dark {
    content: "";
    top: 20px;
    right: 48px;
  }

  .header {
    min-block-size: 1024px;
  }

  .footer {
    min-block-size: 1024px;
  }

  .header-text {
    inline-size: 50%;
  }

  .text-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .first-layout .section-heading {
    grid-column: 1 / 2;
  }
  
  .first-layout .articles {
    grid-column: 2 / 4;
  }

  .second-layout .section-heading {
    grid-column: 1 / 4;
  }

  .second-layout .articles {
    grid-column: 1 / 4;
    grid-row: 2;
  }
  
  /* galery */
  
    .img-container {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .img-container .gallery__item:first-of-type {
      grid-column: 1 / 3;
    }
  
    .img-container .gallery__item:nth-of-type(2) {
      grid-column: 3;
      grid-row: 1 / 3;
    }
  
    .img-container .gallery__item:nth-of-type(3) {
      grid-column: 1;
      grid-row: 2 / 4;
    }
  
    .img-container .gallery__item:nth-of-type(4) {
      grid-column: 2;
      grid-row: 2;
    }
  
    .img-container .gallery__item:last-of-type {
      grid-column: 2 / 4;
      grid-row: 3 / 4;
    }
  }
  
@media (width >= 1024px) {

  .header {
    min-block-size: 768px;
  }

  .footer {
    min-block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  
  .header__theme-menu-list {
    flex-direction: row;
  }

  .rows-layout {
    grid-template-rows: auto min-content;
  }

  .heading-row {
    grid-row: 1;
    max-inline-size: 315px;
  }

  .article-row {
    grid-row: 2;
  }

  .heading-column {
    max-inline-size: 315px;
  }
}



