/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --page-padding: 10px;
  --header-footer-padding: 10px;
  --main-font: 'IBM Plex mono', monospace;
  --main-font-size: 18px;
  --main-line-height: 23.4px;
  --main-font-color: #F1B2CE;
  --accented-background-color: #FF0070;
  --accented-text-collor: #000028;
  --bold-text: bold;
  --bg-color: #000028;
  --cover-image: url(../images/cover-image-dark.png);
  --decor-color: #FF0070;
  --decor-circle-color: #FF0070;
  --button-text-color: #FF0070;
  --section-heading-color: #FF0070;
  --button-text-line-height: 18px;
  --button-border-color: #FF0070;
  --button-border-color-evented: #FF007066;
  --main-title-font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  --main-title-line-height: 95.7px;
  --main-title-color:#DB00FF;
  --main-title-shadow-color:#FF0070;
  --page-gap: 40px; /*change it for biger screens later*/
  --main-gap: 50px; /* change it for biger screens later*/
  --gallery-gap: 10px; /* change it for biger screens later*/
  --main-title-margin: 0;
  --header-text-width: 355px;
}

@media (width >= 700px) {
  :root {
    --page-padding: 20px;
    --main-gap: 80px;
    --main-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --main-title-line-height: 99px;
    --page-gap: 60px;
    --gallery-gap: 20px;
    --header-text-width: 364px;
    --main-title-margin: -20px;
    --header-footer-padding: 20px;
  }
}


@media (width >= 900px) { 
  :root {
  --header-text-width: 491px;
  --main-title-line-height: 129.53px;
  }
}